<!-- begin intro section -->
<section class="intro" id="intro">
	<%= video_tag(["preview.ogg", "preview.webm", "preview.mp4"], poster: "Italy_001.png",  autobuffer: true, autoplay: true, loop:true) %>

	<div class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- begin logo intro section -->
					<%= image_tag "logo_bw.png", :title => "logo" %>
					<!-- end logo intro section -->
					<h1>Solution de cartographie<br/>pour les environnements ambiants</h1>
					<ul class="list-inline">
						<li>
							<a href="#" class="btn btn-custom">
								<i class="fa fa-cloud-download"></i>
								Download
							</a>
						</li>
						<li>
							<a href="#" class="btn btn-custom-border btn-secondary">
								<i class="fa fa-align-left"></i>
								Discover
							</a>
						</li>
					</ul>
				
					<a href="#polo" class="mouse">
						<i class="fa fa-angle-down Drop animated"></i>
					</a>
					
				</div>
			</div>
		</div>
	</div>
	
</section>
<!-- end intro section -->

<div class="divider"></div>

<!-- begin features section -->
<section class="features" id="polo">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
					<h1>Polo simplifie votre travail</h1>
					<p>Il mesure et collecte des données sur la salubrité de l'environnement ambiant</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
					
					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-code"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Température</h4>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-tint"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Humidité</h4>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-lightbulb-o"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Luminosité</h4>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
							</p>
						</div>
					</div>
					<!-- end single feature item -->

				</div>
			</div>
			
			<div class="col-md-4">
				<!-- begin feature image -->
				<figure class="image-features wow bounceIn animated animated" data-wow-offset="120" data-wow-duration="1.5s">
					<%= image_tag "polo.png", :title => "polo" %>
				</figure>
				<!-- end feature image -->
			</div>
			
			<div class="col-md-4">
				<div class="features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-thumbs-up"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Particules</h4>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-refresh"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Qualité de l'air</h4>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-map-marker"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Accéléro-gyro-magnétomètre</h4>
							<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
							</p>
						</div>
					</div>
					<!-- end single feature item -->
				</div>
			</div>
		</div>
	</div>

</section>
<!-- end features section -->

<div class="divider"></div>

<!-- begin brief section -->
<section class="brief" id="dash">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="brief-content wow fadeInLeft animated" data-wow-offset="10">
					<h1>Un dashboard pour faciliter l'interprétation de vos données</h1>
					<div class="underline"></div>
					<p>
						What's amazing is, if young people understood how doing well in school makes the rest of their life so much interesting, they would be more motivated. It's so far away in time that they can't appreciate what it means for their whole life. They would be more motivated. It's so far away in time.
					</p>
					<p>
						If young people understood how doing well in school makes the rest of their life so much interesting, they would be more.
					</p>

					<%= link_to (new_user_session_path), :class=>"btn btn-custom" do %>
						<i class="fa fa-sign-in"></i>S'identifier
					<% end %>
					
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<figure class="small-slider wow fadeInRight animated" data-wow-offset="10">
					<!-- begin single slider item -->
					<div class="item">
						<%= image_tag "iphone5_two.png", :title => "iphone5" %>
					</div>
					<!-- end single slider item -->
					<!-- begin single slider item -->
					<div class="item">
						<%= image_tag "iphone5_white.png", :title => "iphone5" %>
					</div>
					<!-- end single slider item -->
				</figure>
			</div>
		</div>
	</div>
</section>
<!-- end brief section -->

<div class="divider"></div>

<!-- begin customer section -->
<section class="partners wow fadeIn animated">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
					<h1>Nos partenaires</h1>
					<span class="underline"></span>
				</div>
			</div>
			<div class="col-md-12">
				<div class="partners-slider">
					<div class="item">
						<%= image_tag "partners/microsoft.png", :title => "Microsoft" %>
					</div>
					<div class="item">
						<%= image_tag "partners/axa.png", :title => "Axa" %>
					</div>
					<div class="item">
						<%= image_tag "partners/uxr.png", :title => "UX-Republic" %>
					</div>
					<div class="item">
						<%= image_tag "partners/microsoftOpeness.png", :title => "Microsoft Openess" %>
					</div>
					<div class="item">
						<%= image_tag "partners/bemyapps.png", :title => "Bemyapps" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end customer section -->

<div class="divider"></div>

<!-- begin reviews section -->
<section class="reviews" id="team">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<h1>Team</h1>
					<p>L'équipe de Polo & Marco</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="testemonials wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s">
				
				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/logu.png", :title => "Logu" %>
						</div>
						<div class="client-name">
							<h4>Logu Kirou</h4>
							<p>CTO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7 col-sm-12">
						<div class="client-quote">
							<p>"Software innovation, like almost every other kind of innovation, requires the ability to collaborate and share ideas with other people, and to sit down and talk with customers and get their feedback and understand their needs."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/clement.png", :title => "Clement" %>
						</div>
						<div class="client-name">
							<h4>Clement Jacquemaire</h4>
							<p>CEO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7">
						<div class="client-quote">
							<p>"Software innovation, like almost every other kind of innovation, requires the ability to collaborate and share ideas with other people, and to sit down and talk with customers and get their feedback and understand their needs."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/yann.png", :title => "Yann" %>
						</div>
						<div class="client-name">
							<h4>Yann Cadoret</h4>
							<p>CEO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7">
						<div class="client-quote">
							<p>"Software innovation, like almost every other kind of innovation, requires the ability to collaborate and share ideas with other people, and to sit down and talk with customers and get their feedback and understand their needs."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/person.png", :title => "Claire" %>
						</div>
						<div class="client-name">
							<h4>Claire Paoletti</h4>
							<p>CEO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7">
						<div class="client-quote">
							<p>"Software innovation, like almost every other kind of innovation, requires the ability to collaborate and share ideas with other people, and to sit down and talk with customers and get their feedback and understand their needs."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/michael.png", :title => "Michael" %>
						</div>
						<div class="client-name">
							<h4>Michael Boitin</h4>
							<p>CEO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7">
						<div class="client-quote">
							<p>"Software innovation, like almost every other kind of innovation, requires the ability to collaborate and share ideas with other people, and to sit down and talk with customers and get their feedback and understand their needs."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

			</div>
		</div>

	</div>	
</section>
<!-- end reviews section -->

<div class="divider"></div>

<!-- begin newsletter section -->
<section class="newsletter" id="newsletter">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeInDown animated" data-wow-offset="10">
					<h1>Inscrivez-vous !</h1>
					<p>et soyez tenu informé de la sortie de polo & marco !</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 form">
				<div id="contact">

				<form method="post" action="contact.php" name="contactform" id="contactform">

					<fieldset>

						<label for="email" accesskey="E"></label>
						<input name="email" type="text" id="email" size="30" value="" placeholder="Please enter your email address" />

						<button type="submit" class="submit btn btn-secondary btn-send" id="submit" value="Submit">
							<i class="fa fa-envelope"></i>
							Subscribe
						</button>

					</fieldset>

				</form>

				<div class="tex-center">
					<div id="message"></div>
				</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- end newsletter section -->

<div class="divider"></div>