<!-- begin intro section -->
<section class="intro" id="intro">
	<%= video_tag(["preview.ogg", "preview.webm", "preview.mp4"], poster: "Italy_001.png",  autobuffer: true, autoplay: true, loop:true) %>

	<div class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="introsection wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1.5s">
						<!-- begin logo intro section -->
						<%= image_tag "logo_bw.png", :title => "logo" %>
						<!-- end logo intro section -->
						<h1>Solution de cartographie<br/>pour l'environnement ambiant</h1>
						<ul class="list-inline">
							<li>
								<a href="#polo" class="btn btn-custom">
									<i class="fa fa-align-left"></i>
									Discover
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
<!-- end intro section -->

<div class="divider"></div>

<!-- begin features section -->
<section class="features" id="polo">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
					<h1>Polo simplifie votre travail</h1>
					<p>Il mesure et collecte des données sur la salubrité de l'environnement ambiant</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
					
					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-code"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Température</h4>
							<p>
								19°C est la température intérieure idéale ! Mais une mauvaise répartition peut créer des courants d’air !
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-tint"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Humidité</h4>
							<p>
								Détecter les zones humides permet de prévenir les moisissures qui peuvent apparaître sur les murs.
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-lightbulb-o"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Luminosité</h4>
							<p>
								Sachez comment est éclairé votre intérieur jusqu’à savoir où poser votre orchidée !
							</p>
						</div>
					</div>
					<!-- end single feature item -->

				</div>
			</div>
			
			<div class="col-md-4">
				<!-- begin feature image -->
				<figure class="image-features wow bounceIn animated animated" data-wow-offset="120" data-wow-duration="1.5s">
					<%= image_tag "polo.png", :title => "polo" %>
				</figure>
				<!-- end feature image -->
			</div>
			
			<div class="col-md-4">
				<div class="features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-thumbs-up"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Particules</h4>
							<p>
								Les matériaux, les poussières et autres fumées peuvent provoquer des réactions allergiques. Repérer leur source d’émissions permet de traiter cette nuisance.
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-refresh"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Qualité de l'air</h4>
							<p>
								La qualité de l’air intérieur est primordial pour vous assurer un bien-être dans votre espace de vie.
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-map-marker"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Accéléro-gyro-magnétomètre</h4>
							<p>
							Ce capteur nous permet d’accomplir notre mission : localiser avec précision les données collectées de votre environnement.
							</p>
						</div>
					</div>
					<!-- end single feature item -->
				</div>
			</div>
		</div>
	</div>

</section>
<!-- end features section -->

<div class="divider"></div>

<!-- begin brief section -->
<section class="brief" id="dash">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="brief-content wow fadeInLeft animated" data-wow-offset="10">
					<h1>Un tableau de bord dans votre poche pour vous assister dans votre expertise</h1>
					<div class="underline"></div>
					<p>
						C’est fantastique ! Polo est votre parfait assistant : il collecte les données d’un environnement et les représente pour vous !
					</p>
					<p> Vous n’avez plus qu’à investiguer davantage les zones identifiées et à délivrer votre expertise sur la totalité d’un bâtiment en un clin d’oeil.Pour faciliter votre travail, nous vous proposons une interface claire et modulable sur les différents supports numériques.
					</p>
					<p>
					Polo & Marco vous permet de vous recentrer sur votre coeur de métier là où est votre véritable création de valeur.
					</p>

					<%= link_to (new_user_session_path), :class=>"btn btn-custom" do %>
						<i class="fa fa-sign-in"></i>S'identifier
					<% end %>
					
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<figure class="small-slider wow fadeInRight animated" data-wow-offset="10">
					<!-- begin single slider item -->
					<div class="item">
						<%= image_tag "iphone5_two.png", :title => "iphone5" %>
					</div>
					<!-- end single slider item -->
					<!-- begin single slider item -->
					<div class="item">
						<%= image_tag "iphone5_white.png", :title => "iphone5" %>
					</div>
					<!-- end single slider item -->
				</figure>
			</div>
		</div>
	</div>
</section>
<!-- end brief section -->

<div class="divider"></div>

<!-- begin partners section -->
<section class="partners wow fadeIn animated">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
					<h1>Nos partenaires</h1>
					<span class="underline"></span>
				</div>
			</div>
			<div class="col-md-12">
				<div class="partners-slider">
					<div class="item">
						<%= image_tag "partners/microsoft.png", :title => "Microsoft" %>
					</div>
					<div class="item">
						<%= image_tag "partners/axa.png", :title => "Axa" %>
					</div>
					<div class="item">
						<%= image_tag "partners/uxr.png", :title => "UX-Republic" %>
					</div>
					<div class="item">
						<%= image_tag "partners/microsoftOpeness.png", :title => "Microsoft Openess" %>
					</div>
					<div class="item">
						<%= image_tag "partners/bemyapps.png", :title => "Bemyapps" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end customer section -->

<div class="divider"></div>

<!-- begin extra section -->
<section class="story" id="story">
	<div class="container">

		<div class="row">
	
			<!-- begin first tab content -->
			<div class="tab-pane fade in active" id="first-tab">
				<div class="col-md-5">
					<figure class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
						<%= image_tag "iphones_skew.png", :title => "iphone5" %>
					</figure>
				</div>
				
				<div class="col-md-6 col-md-offset-1">
					<div class="brief-content wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
						<h1>Notre histoire</h1>
						<div class="underline"></div>
						<p>
							Lors du hackathon Zone 61 organisé en janvier 2015, Logu et Clément se sont réunis avec pour ambition de développer un duo de robots autonomes, constitué d’un robot terrestre et d’un drone. Les défauts d’un véhicule sont compensés par les avantages de l’autre afin d'évoluer sans intervention humaine dans tout type d’environnement.
						</p>

						<p>
							Le prototype de Polo, le robot terrestre, a été retenu aux termes du hackathon. Claire, Michael et Yann ont rejoint son développement pour le challenge Zone 61 qui prend fin en mars 2015.
						</p>
					</div>
				</div>

			</div>
		</div>
		
	</div>
</section>
<!-- end extra section -->

<div class="divider"></div>

<!-- begin Team section -->
<section class="reviews" id="team">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<h1>L'équipe</h1>
					<p>Rencontrez la team de Polo & Marco</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="testemonials wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s">
				
				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/logu.png", :title => "Logu" %>
						</div>
						<div class="client-name">
							<h4>Logu Kirou</h4>
							<p>CTO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7 col-sm-12">
						<div class="client-quote">
							<p>"Software innovation, like almost every other kind of innovation, requires the ability to collaborate and share ideas with other people, and to sit down and talk with customers and get their feedback and understand their needs."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/clement.png", :title => "Clement" %>
						</div>
						<div class="client-name">
							<h4>Clément Jacquemaire</h4>
							<p>CEO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7">
						<div class="client-quote">
							<p>"Je suis persuadé que les robots vont nous permettre de réaliser de grandes choses dans le futur. Les innovations rendues possibles grâce à leur assistance restent à imaginer."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/yann.png", :title => "Yann" %>
						</div>
						<div class="client-name">
							<h4>Yann Cadoret</h4>
							<p>CEO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7">
						<div class="client-quote">
							<p>"Software innovation, like almost every other kind of innovation, requires the ability to collaborate and share ideas with other people, and to sit down and talk with customers and get their feedback and understand their needs."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/person.png", :title => "Claire" %>
						</div>
						<div class="client-name">
							<h4>Claire Paoletti</h4>
							<p>CEO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7">
						<div class="client-quote">
							<p>"Software innovation, like almost every other kind of innovation, requires the ability to collaborate and share ideas with other people, and to sit down and talk with customers and get their feedback and understand their needs."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

				<!-- begin single testomial item -->
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<div class="client-image">
							<%= image_tag "team/michael.png", :title => "Michael" %>
						</div>
						<div class="client-name">
							<h4>Michael Boitin</h4>
							<p>CEO & cofounder @ Polo & Marco</p>
						</div>
					</div>
					<div class="col-md-7">
						<div class="client-quote">
							<p>"Software innovation, like almost every other kind of innovation, requires the ability to collaborate and share ideas with other people, and to sit down and talk with customers and get their feedback and understand their needs."</p>
						</div>
					</div>
				</div>
				<!-- end single testomial item -->

			</div>
		</div>

	</div>	
</section>
<!-- end team section -->

<div class="divider"></div>


<!-- begin newsletter section -->
<section class="newsletter" id="newsletter">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeInDown animated" data-wow-offset="10">
					<h1>Inscrivez-vous !</h1>
					<p>et soyez tenu informé de la sortie de polo & marco !</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 form">
				<div id="contact">
					
					<form action="subscribe" method="post" class="form-inline">
					    <input type="hidden" name="list_id" value="<%= ENV['MAILCHIMP_LIST_ID'] %>"/>
					    <input type="email" name="email" placeholder="Votre adresse e-mail"/>
					    <input type="submit" class="submit btn btn-secondary btn-send" value="Être informé"/>
					</form>
					
					<div class="tex-center">
						<div id="message"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end newsletter section -->

<div class="divider"></div>